@inherits LayoutComponentBase

<div class="page d-flex flex-column" style="min-height: 100vh;">
    <!-- Навигационное меню сверху -->
    
    <!-- Основное содержимое, которое будет под меню -->
    <main class="flex-grow-1">
        <div class="container-fluid content app-font" style="background-color: #171d26">
        <AuthorizeView>
            <NotAuthorized>
                <div class="collapse d-flex justify-content-between align-items-center ">
                    <!-- Левая часть (ссылки) -->
                    <div class="d-flex gap-3">
                        <a class="nav-link text-white" href="#">О нас</a>
                    </div>

                    <!-- Правая часть (Logout) -->
                    <div>
                        <a class="nav-link text-white btn btn-primary" href="login" style="border-radius: 5px; font-weight: 600;">
                            Вход
                        </a>
                    </div>
                </div>
            </NotAuthorized>
            <Authorized>
                <NavMenu />
                
            </Authorized>
        </AuthorizeView>
        
            @Body
        </div>
    </main>

    <!-- Блок ошибок (оставляем как было) -->
    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
</div>