<nav class="navbar navbar-expand-lg navbar-dark bg-dark container-fluid">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-between align-items-center" id="navbarNav">
            <!-- Левая часть (ссылки) -->
            <div class="d-flex gap-3">
                <a class="nav-link text-white" href="romashka" style="font-family: sans-serif;">Ромашка</a>
                <a class="nav-link text-white" href="#" style="font-family: sans-serif;">Сквиз-Трейдинг</a>
                <a class="nav-link text-white" href="#" style="font-family: sans-serif;">ИзиСиг</a>
                <a class="nav-link text-white" href="settings" style="font-family: sans-serif;">Кабинет</a>
            </div>

            <!-- Правая часть (Logout) -->
            <div>
                <a class="nav-link text-white btn btn-danger px-3" href="logout" style="border-radius: 5px; font-family: sans-serif; font-weight: 600;">
                    Logout
                </a>
            </div>
        </div>
    </div>
</nav>

