
<div class="container-sm w-100 p-4 mt-3 app-font" style="background: #343447; border-radius: 15px;">
    <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex gap-2 overflow-x-auto py-2 p-1" style="scrollbar-width: thin; -ms-overflow-style: none;">
            <a class="nav-link flex-shrink-0 text-white btn btn-primary px-3 app-font" 
               href="romashka" 
               style="border-radius: 8px; min-width: fit-content;">
                Ромашка
            </a>
            <a class="nav-link flex-shrink-0 text-white btn btn-primary px-3 app-font" 
               href="new-signal" 
               style="border-radius: 8px; min-width: fit-content;">
                Сигналы
            </a>
            <a class="nav-link flex-shrink-0 text-white btn btn-primary px-3 app-font" 
               href="settings" 
               style="border-radius: 8px; min-width: fit-content;">
                Профиль
            </a>
            <!-- Добавьте дополнительные кнопки если нужно -->
        </div>
    </div>
    
</div>

<style>
    .overflow-x-auto {
        overflow-x: auto;
        white-space: nowrap;
    }
        /* Скрываем scrollbar для Chrome, Safari и Opera */
        .overflow-x-auto::-webkit-scrollbar {
            display: none;
        }
</style>

@code{
    private bool isRomashka = false;
    private bool isSettings = false;

    private Task Click(string href)
    {
        return Task.Run(() =>
        {
            switch (href)
            {
                case "settings":
                    isRomashka = false;
                    isSettings = true;
                    break;

                case "romashka":
                    isRomashka = true;
                    isSettings = false;
                    break;
            }
        });
    }

}