
<div class="container-sm w-100 p-4 mt-3 app-font" style="background: #343447; border-radius: 15px;">
    <div class="d-flex justify-content-between align-items-center">
        <!-- Левая часть (ссылки) -->
        <div class="d-flex gap-2">
            <a class="nav-link w-50 text-white btn btn-primary px-3 mr-2 app-font" href="romashka" style="border-radius: 8px;">Ромашка</a>
            <a class="nav-link text-white btn btn-primary px-3 app-font" href="settings" style="border-radius: 8px;">Профиль</a>
        </div>
    </div>
    
</div>



@code{
    private bool isRomashka = false;
    private bool isSettings = false;

    private Task Click(string href)
    {
        return Task.Run(() =>
        {
            switch (href)
            {
                case "settings":
                    isRomashka = false;
                    isSettings = true;
                    break;

                case "romashka":
                    isRomashka = true;
                    isSettings = false;
                    break;
            }
        });
    }

}